/* assets/style.qss */
QMainWindow {
    background-color: #242424;
}

#LeftPanel {
    background-color: #2b2b2b;
    border: none;
    border-radius: 6px;
}

#RightPanel {
    background-color: #242424;
}

/* Karta powitalna na środku */
#WelcomeCard {
    background-color: #1e1e1e;
    border-radius: 15px;
}

#WelcomeLogo {
    color: #85c1e9;
    font-family: "Courier New";
    font-size: 11px;
    font-weight: bold;
}

QPushButton {
    background-color: #1f6aa5;
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: bold;
    border: none; /* Wymagane, by Windows nie psuł zaokrągleń */
}

QPushButton:hover {
    background-color: #144a73;
}

QPushButton:pressed {
    background-color: #0d324d;
}

/* Styl dla QMessageBox (warrning) */
QMessageBox {
    background-color: #242424;
}

QMessageBox QLabel {
    color: white;
    font-size: 14px;
}
